body {
    margin: 20px 40px;
    padding: 0;
}
.page {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 95vh;
    width: 100%;
    /*background-color: orange;*/
    z-index: -100;
}
.header {
    /*background-color: pink;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

}

.header-titel {
    align-items: end;
    text-align: right;

    font-family: "freight-big-pro", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 96px;
    text-transform: uppercase;

    line-height: 90px;
}

.hero-image-container {
    position: absolute;
    top: 5px;
    right: 0;
    height: 530px;
    width: 620px;
    overflow: hidden;
    z-index: -1;
    /*background-color: red;*/
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


