.info-container {
    position: absolute;
    bottom: 40px;
    right: 150px;
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: row;

    font-family: "freight-big-pro", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.portrait-container {

    height: 220px;
    width: 180px;
    overflow: hidden;
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.portrait-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info {
    height: auto;
    width: 400px;
    margin-left: 45px;
    /*background-color: green;*/
}

.occupatie {
    text-align: right;
    /*background-color: pink;*/
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: -20px;

}