body {
    margin: 0px 180px;
    padding: 0;
}

.header {
    /*background-color: pink;*/
    height: 120px;
    font-family: helvetica;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.projecten,
.about,
.instagram,
.contact {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.naam-occupatie {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.naam {
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.occupatie {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}

.instagram-link {
    text-decoration: none;
    color: black;
}

