.paginas-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    font-family: "freight-big-pro", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;

    text-transform: uppercase;
    position: absolute;
    bottom: 48px;
    left: 0;
}

.projecten-container {
    margin-left: 75px;
}

.instagram-container {
    margin-left: 215px;
}

.contact-container {
    margin-left: 350px;
}