body {
    display: grid;
    grid-template-columns: 500px 1fr;
    margin: 20px 40px;
    padding: 0;

}

.body-left {
    position: sticky;
    top: 20px;
    align-self: start;
}

.terug-img-container {
    width: 60px;
    height: 60px;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.terug-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.project-container {
    margin-top: 60px;

    display: flex;
    flex-direction: column;

    font-family: "freight-big-pro", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
}

.project-titel {
    font-weight: bold;
}

ol {
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
    font-size: 12px;
    color: rgba(0,0,0,0.6)
}

.project {
    margin-bottom: 100px;
}

.project-thumbnail {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;

    margin-bottom: 10px;

    background-color: rgba(128, 128, 128, 0.39);
}

.project-omschrijving-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-omschrijving {
    width: 60%;
}